<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/pop-up.images.css}">
    <script th:src="@{/js/pop-up.images.js}"></script>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main>
    <audio id="newMusic" autoplay loop>
        <script th:src="@{/js/runBackgroundMusic.js}"></script>
    </audio>
    <div class="container img-background-favorite-adventures">
        <h1 class="text-center green-color">Favorite Adventures</h1>
        <div class="bg-light all-users-transparent">
            <hr class="hr-2 bg-light">
            <div class="margin-table-all-users">
                <table class="table table-hover mx-auto text-center" id="adventures_table_id">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Country</th>
                        <th>Level</th>
                        <th>Tips</th>
                        <th>Required Equipment</th>
                        <th>Duration</th>
                        <th>Description</th>
                        <th class="green-color">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="adventure, iter : ${adventures}">
                        <tr>
                            <td th:text="${iter.index + 1}"></td>
                            <td>
                                <a class="image-link" th:href="${adventure.imageUrl}">
                                    <img th:src="${adventure.imageUrl}" width="40" height="40"
                                         alt="Adventure">
                                </a>
                            </td>
                            <td th:text="${adventure.name}"></td>
                            <td th:text="${adventure.category}"></td>
                            <td th:text="${adventure.country}"></td>
                            <td th:text="${adventure.level}"></td>
                            <td th:text="${adventure.tips}"></td>
                            <td th:text="${adventure.requiredEquipment}"></td>
                            <td th:text="${adventure.duration}"></td>
                            <td th:text="${adventure.description}"></td>

                            <td>
                                <a href="#" data-toggle="modal" th:data-target="'#adventureModal' + ${iter.index + 1}"
                                   class="btn btn-lg btn-dark btn-position btn-login text-uppercase
                                 font-weight-bold mb-2 green-color">Details</a>
                                <div class="modal fade" th:id="'adventureModal' + ${iter.index + 1}" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Details Livint Tip</h5>
                                            </div>
                                            <div class="modal-body"
                                                 th:text="'Adventure Name: ' + ${adventure.name}">
                                            </div>
                                            <div class="modal-body"
                                                 th:text="'Adventure Category: ' + ${adventure.category}">
                                            </div>
                                            <div class="modal-body"
                                                 th:text="'Adventure Country: ' + ${adventure.country}">
                                            </div>
                                            <div class="modal-body"
                                                 th:text="'Adventure Level: ' + ${adventure.level}">
                                            </div>
                                            <div class="modal-body"
                                                 th:text="'Adventure Tips: ' + ${adventure.tips}">
                                            </div>
                                            <div class="modal-body"
                                                 th:text="'Adventure Required Equipent: ' + ${adventure.requiredEquipment}">
                                            </div>
                                            <div class="modal-body"
                                                 th:text="'Adventure Duration: ' + ${adventure.duration}">
                                            </div>
                                            <div class="modal-body"
                                                 th:text="'Adventure Description: ' + ${adventure.description}">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-lg btn-dark btn-position btn-login text-uppercase
                                 font-weight-bold mb-2 green-color" data-dismiss="modal">Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a th:href="@{/adventures/favorites/remove/{id}(id=${adventure.id})}">
                                    <button class="btn btn-lg btn-dark btn-position btn-login text-uppercase
                                 font-weight-bold mb-2 green-color">Remove
                                    </button>
                                </a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <hr class="hr-2 bg-light">
        </div>
    </div>
</main>
<div>
    <th:block th:include="~{fragments/footer}"></th:block>
</div>
</body>
<script>
    $(document).ready(function () {
        $('#adventures_table_id').DataTable();
    });
</script>
<script>
    $(document).ready(function () {
        $('.image-link').magnificPopup({
            type: 'image',
            mainClass: 'mfp-with-zoom',

            zoom: {
                enabled: true,

                duration: 300,
                easing: 'ease-in-out',
                opener: function (openerElement) {
                    return openerElement.is('img') ? openerElement : openerElement.find('img');
                }
            }
        });
    });
</script>
</html>