<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main>
    <audio id="newMusic" autoplay loop>
        <script th:src="@{/js/runBackgroundMusic.js}"></script>
    </audio>
    <div class="container img-background-favorite-events">
        <h1 class="text-center green-color">Favorite Events</h1>
        <div class="bg-light all-users-transparent">
            <hr class="hr-2 bg-light">
            <div class="margin-table-all-users">
                <table class="table table-hover mx-auto text-center" id="events_table_id">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Event Date</th>
                        <th>Location</th>
                        <th>Programme</th>
                        <th class="green-color">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="event, iter : ${events}">
                        <tr>
                            <td th:text="${iter.index + 1}"></td>
                            <td th:text="${event.name}"></td>
                            <td th:text="${event.eventDate}"></td>
                            <td th:text="${event.location}"></td>
                            <td th:text="${event.programme}"></td>

                            <td>
                                <a href="#" data-toggle="modal" th:data-target="'#adventureModal' + ${iter.index + 1}"
                                   class="btn btn-lg btn-dark btn-position btn-login text-uppercase
                                 font-weight-bold mb-2 green-color">Details</a>

                                <div class="modal fade" th:id="'adventureModal' + ${iter.index + 1}" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Details Livint Tip</h5>
                                            </div>
                                            <div class="modal-body"
                                                 th:text="'Event Name: ' + ${event.name}">
                                            </div>
                                            <div class="modal-body"
                                                 th:text="'Event Date: ' + ${event.eventDate}">
                                            </div>
                                            <div class="modal-body"
                                                 th:text="'Event Location: ' + ${event.location}">
                                            </div>
                                            <div class="modal-body"
                                                 th:text="'Event Programme: ' + ${event.programme}">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-lg btn-dark btn-position btn-login text-uppercase
                                 font-weight-bold mb-2 green-color" data-dismiss="modal">Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a th:href="@{/events/favorites/remove/{id}(id=${event.id})}">
                                    <button class="btn btn-lg btn-dark btn-position btn-login text-uppercase
                                 font-weight-bold mb-2 green-color">Remove
                                    </button>
                                </a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <hr class="hr-2 bg-light">
        </div>
    </div>
</main>
<div>
    <th:block th:include="~{fragments/footer}"></th:block>
</div>
</body>
<script>
    $(document).ready(function () {
        $('#events_table_id').DataTable();
    });
</script>
</html>