<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main>
    <audio id="newMusic" autoplay loop>
        <script th:src="@{/js/runBackgroundMusic.js}"></script>
    </audio>
    <div class="img-background-add-living-tip">
        <div class="container w-75">
            <h1 class="text-center text-light">Add Living Tip</h1>
            <form id="add-product-form" class="form mx-auto text-light" th:action="@{/living-tips/add}"
                  th:method="post"
                  enctype="multipart/form-data" th:object="${model}">

                <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'text-danger'">
                    <label for="add-name" class="font-weight-bold">Name</label>
                    <input required type="text" class="form-control input-transparent" id="add-name"
                           name="name" th:field="*{name}">
                    <small th:each="error : ${#fields.errors('name')}"
                           th:utext="${error}  + '&lt;br /&gt;'"></small>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('category')}? 'text-danger'">
                    <label for="add-category" class="font-weight-bold">Category</label>
                    <select required type="text" class="form-control input-transparent" id="add-category"
                            name="category"
                            th:field="*{category}" th:errorclass="bg-danger">
                        <option value="">Select Category</option>
                        <option th:each="c : ${T(com.example.naturesway.domain.enumerations.LivingTipEnum).values()}"
                                th:text="${c}" th:value="${c}" value="category" itemLabel="category"></option>
                    </select>
                    <small th:each="error : ${#fields.errors('category')}"
                           th:utext="${error}  + '&lt;br /&gt;'"></small>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'text-danger'">
                    <label for="add-description" class="font-weight-bold">Description</label>
                    <textarea required type="text" class="form-control input-transparent" id="add-description"
                              rows="6"
                              name="description" th:field="*{description}"></textarea>
                    <small th:each="error : ${#fields.errors('description')}"
                           th:utext="${error}  + '&lt;br /&gt;'"></small>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('usability')}? 'text-danger'">
                    <label for="add-usability" class="font-weight-bold">Usability</label>
                    <textarea required type="text" class="form-control input-transparent" id="add-usability"
                              rows="4"
                              name="usability" th:field="*{usability}"></textarea>
                    <small th:each="error : ${#fields.errors('usability')}"
                           th:utext="${error}  + '&lt;br /&gt;'"></small>
                </div>
                <div class="button-holder d-flex justify-content-center">
                    <button type="submit" class="btn btn-lg btn-dark btn-position btn-login text-uppercase
                                 font-weight-bold mb-2 green-color">Add Living Tip
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>
<div>
    <th:block th:include="~{fragments/footer}"></th:block>
</div>
</body>
</html>