.navbar {
    padding: 0;
}

.dropdown .dropdown-menu {
    border-radius: 0;
}


/* Medium devices (tablets, 768px and up)
The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        border-radius: 0;
    }
}

.video-background-holder {
    position: relative;
    background-color: black;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.img-background-edit-profile-holder {
    background: url("https://res.cloudinary.com/anduala/image/upload/c_scale,w_2231/v1615498713/wallpapers/DSC_0012_00004_czvnhm.jpg");
    max-width: 100%;
    max-height: 100%;
    position: relative;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.img-background-change-password-holder {
    background: url("https://res.cloudinary.com/anduala/image/upload/c_scale,w_1920/v1615498719/wallpapers/_DSC3538_u7xy4i.jpg");
    max-width: 100%;
    max-height: 100%;
    position: relative;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.img-background-all-users{
    background: url("https://res.cloudinary.com/anduala/image/upload/c_scale,w_1989/v1615498719/wallpapers/DSC_0096_hiqipx.jpg");
    max-width: 100%;
    max-height: 100%;
    position: relative;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.img-background-all-users-delete{
    background: url("https://res.cloudinary.com/anduala/image/upload/v1616375807/wallpapers/butterfly-laptop-wallpaper_ryhwwa.jpg");
    max-width: 100%;
    max-height: 100%;
    position: relative;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.img-background-all-adventures{
    background: url("https://res.cloudinary.com/anduala/image/upload/c_scale,w_1968/v1616601599/wallpapers/High-Achievement-Culture_b11ey1.jpg");
    max-width: 100%;
    max-height: 100%;
    position: relative;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.img-background-all-living-tips{
    background: url("https://res.cloudinary.com/anduala/image/upload/v1616601389/wallpapers/slide-1-image_lpljok.jpg");
    max-width: 100%;
    max-height: 100%;
    position: relative;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.img-background-all-events{
    background: url("https://res.cloudinary.com/anduala/image/upload/c_scale,w_1920/v1616601600/wallpapers/51-516368_desktop-wallpaper-hd-widescreen-free-download-free-fall_vdleyj.jpg");
    max-width: 100%;
    max-height: 100%;
    position: relative;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.img-background-add-adventure{
    background: url("https://res.cloudinary.com/anduala/image/upload/c_scale,w_2491/v1615496571/wallpapers/16979459757_63d27e96c2_o_o60szj.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-background-add-event{
    background: url("https://res.cloudinary.com/anduala/image/upload/c_scale,w_1984/v1615496576/wallpapers/14143532271_ca485144ea_o_syozpu.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.img-background-add-living-tip{
    background: url("https://res.cloudinary.com/anduala/image/upload/c_scale,w_1989/v1615496571/wallpapers/Copy_of_11-19_jleh2b.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.img-background-adventure-guides{
    background: url("https://res.cloudinary.com/anduala/image/upload/c_scale,w_1920/v1616601599/wallpapers/DP_sport-success-on-sunset-background_1125x2000_2018-01-08_e2knj4.jpg");
    max-width: 100%;
    max-height: 100%;
    position: relative;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.img-background-favorite-adventures{
    background: url("https://res.cloudinary.com/anduala/image/upload/v1616869818/wallpapers/9158dc2d047e1468da5860ea03e913d5_d52xcj.jpg");
    max-width: 100%;
    max-height: 100%;
    position: relative;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.img-background-favorite-living-tips{
    background: url("https://res.cloudinary.com/anduala/image/upload/c_scale,w_1920/v1616869824/wallpapers/336628-svetik_txwgqa.jpg");
    max-width: 100%;
    max-height: 100%;
    position: relative;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.img-background-favorite-events{
    background: url("https://res.cloudinary.com/anduala/image/upload/v1616869819/wallpapers/6hwGUu_lxcqyj.jpg");
    max-width: 100%;
    max-height: 100%;
    position: relative;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.img-background-living-tips{
    background: url("https://res.cloudinary.com/anduala/image/upload/c_scale,w_1920/v1616601389/wallpapers/camping-bend-oregon-1600x900_vwsiqb.jpg");
    max-width: 100%;
    max-height: 100%;
    position: relative;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.img-background-upcoming-events{
    background: url("https://res.cloudinary.com/anduala/image/upload/c_scale,w_1920/v1616375624/wallpapers/pnYMejjzV6pDNWwiv8JNJK_l6qrxk.jpg");
    max-width: 100%;
    max-height: 100%;
    position: relative;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.bottom-margin{
    margin-bottom: 50px;
}

.edit-profile-margin{
    margin-left: 5%;
}


.modal-backdrop {
    /* bug fix - no overlay */
    display: none;
}

.video-background-holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
    position: relative;
    z-index: 2;
}

.video-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ababab;
    opacity: 0.5;
    z-index: 1;
}

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
}


.margin-left-register {
    margin-left: 120%;
}

.bg-image {
    background-image: url('https://res.cloudinary.com/anduala/image/upload/v1615186249/samples/landscapes/nature-mountains.jpg');
    background-size: cover;
    background-position: center;
}

.login-heading {
    font-weight: 300;
}

.btn-login {
    transition: none;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 6rem;
    border-width: 2px;
    border-color: #97CA2E;
}

.btn-position {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.margin-table-all-users{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.profile-edit-form-width{
    width: 37%;
}

.form-label-group > input,
.form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
    border-radius: 2rem;
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.bottom-green-line {
    color: #97CA2E;
    border-bottom: 9px solid;
}

.green-color {
    color: #97CA2E;
}

.red-color {
    color: red;
}

.bg-green {
    background-color: #97CA2E;
}

.button-green {
    background-color: #97CA2E;
    outline-color: #97CA2E;
}

.gap-10 {
    width: 100%;
    height: 10px;
}

.gap-20 {
    width: 100%;
    height: 20px;
}

.gap-30 {
    width: 100%;
    height: 30px;
}

.input-transparent {
    opacity: 75%;
}

.dropdown-transparent {
    opacity: 92%;
}

.profile-transparent {
    opacity: 62%;
}

.add-record-layer-transparent {
    opacity: 50%;
}

.all-users-transparent {
    opacity: 86%;
}

.register-overlay {
    position: absolute;
    margin-top: 6%;
    margin-left: 6%;
    /*opacity: 80%;*/
    font-size: xx-large;
}

.login-overlay {
    position: absolute;
    margin-top: 23%;
    margin-left: 10%;
    /*opacity: 80%;*/
    font-size: x-large;
}

